{{>layout/header}}


<div class="col-md-12">
    <div class="col-md-6">
        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group">
                <label for="writer">작성자</label>
                <input type="text" class="form-control" id="writer" placeholder="작성자를 입력하세요">
            </div>
            <div class="form-group">
                <label for="location">위치</label>
                <input type="text" class="form-control" id="location" placeholder="위치를 입력하세요">
            </div>
            <div class="form-group">
                <label for="money">가격</label>
                <input type="text" class="form-control" id="money" placeholder="가격을 입력하세요">
            </div>
            <div class="form-group">
                <label for="reservation">예약</label>
                <input type="text" class="form-control" id="reservation" placeholder="예약 방법을 입력하세요">
            </div>
            <div class="form-group">
                <label for="content">내용</label>
                <textarea type="text" class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label for="x">경도</label>
                <textarea type="text" class="form-control" id="x" placeholder="경도를 입력하세요"></textarea>
            </div>
            <div class="form-group">
                <label for="y">위도</label>
                <textarea type="text" class="form-control" id="y" placeholder="위도를 입력하세요"></textarea>
            </div>
        </form>

        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
        <!--        button 태그의 id 속성은 이후 등록 버튼과 관련된 API를 호출하는 JS에서 사용함-->
    </div>

</div>

{{>layout/footer}}